*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -40%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 15px;
  z-index: 10;
  background-color: white;
  width: 600px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.modal-header {
  padding: 10px 25px 50px;
}

.modal-header .close-button {
  float: right;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.25rem;
  font-weight: bold;
  color: #f05a29;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.item-text {
  font-size: 20px;
  margin: 0;
  overflow: hidden;
}

.item-element {
  border: 1px solid rgb(180, 180, 180);
  margin-bottom: 10px;
  border-radius: 20px;
  max-width: 500px;
  list-style-type: none;
}

.text-block {
  overflow: hidden;
  max-width: 500px;
  padding: 10px 20px 10px 10px;
}

.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid ;
  height: 20px;
  width: 20px;
  margin-bottom: 80px;
  margin-right: 20px;
}
