.container {
  position: relative;
  max-width: 1170px;
  min-height: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2d2d44;
}

.logo-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px 20px;
  background: transparent;
  border: none;
  outline: none;
}


.logo-button:hover {
  opacity: 0.6;
  cursor: pointer;
}