@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.container {
  position: relative;
  max-width: 1170px;
  min-height: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2d2d44;
}

.logo-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px 20px;
  background: transparent;
  border: none;
  outline: none;
}


.logo-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

